/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * common
 */
.search .button {
    max-width: 216px;
}

.cond-content {
    position: relative;
    background: #000;
}
.cond-content p {
    position: absolute; /*絶対配置*/
    color: white; /*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 1.5rem; /*サイズ2倍*/
    font-family: Quicksand, sans-serif; /*Google Font*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}
.cond-thumb {
    max-width: 200px;
    max-height: auto;
}
.cond-thumb.is-opacity {
    opacity: 0.6;
}
.bb-orange {
    background: url("/images/wave-orange.png") bottom repeat-x;
    background-size: 20px;
}
.bb-red {
    background: url("/images/wave-red.png") bottom repeat-x;
    background-size: 20px;
}

/**
 *  PC
*/
@media screen and (min-width: 767px) {
    .card {
        width: 20rem;
    }
    .cards::after {
        content: "";
        display: block;
        width: 40rem;
        height: 0;
    }
    .shop-thumb {
        max-width: auto;
        max-height: 180px;
    } 
}

.cond-content.is-select {
	font-weight: bold;
    border: solid 5px #e71607;
}
/**
 *  SP 
*/
@media screen and (max-width: 766px) {
    .card {
        width: 180px;
    }
    .shop-thumb {
        max-width: 150px;
        max-height: auto;
    } 
}